$primary:                     #00FF8F;
$dark:                        black;

$rotation-speed:              20s;
$component-active-color:      $primary;
$navbar-dark-active-color:    $component-active-color;